<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="Tanvi.css">
    <title>Decoz</title>
</head>

<body>

    <div class="container-fluid py-5" style="background-color: #FFF3E4;">
        <div class="container text-center" style="font-family: Quicksand;;">
            <p>Don't Miss This Chance</p>
            <h3><b>Sale Up to 50%</b></h3>

        </div>

        <div class="container">

            <div class="row text-left">

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card cd-tp1" style="width: 18rem;">
                        <img src="../images/prd-img_1.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Wingback buttoned bed</strong></h5>
                            <br>
                            <button style="background-color:  #F8DAA0; height: 20px; width: 20px;"></button> &nbsp;
                            <button style="background-color: #36454F ; height: 20px; width: 20px;"></button>

                            <p><s>$7,000.00</s> &nbsp;$5,600.00</p>

                             <button class="add_btn">Add TO Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card cd-tp1" style="width: 18rem;">
                        <img src="../images/prd-img_2.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Luna butterfly table</strong></h5>
                            <br>
                            <button style="background-color:  #F8DAA0; height: 20px; width: 20px;"></button> &nbsp;
                            <button style="background-color: #36454F ; height: 20px; width: 20px;"></button>

                            <p><s>$2,000.00</s> &nbsp;$1,500.00</p>

                             <button class="add_btn">Add TO Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card cd-tp1" style="width: 18rem;">
                        <img src="../images/Decoz09.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Chesterfield closet</strong></h5>
                            <br>
                            <button style="background-color:  #F8DAA0; height: 20px; width: 20px;"></button> &nbsp;
                            <button style="background-color: #36454F ; height: 20px; width: 20px;"></button>

                            <p><s>$2,700.00</s> &nbsp;$3,500.00</p>

                             <button class="add_btn">Add TO Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card cd-tp1" style="width: 18rem;">
                        <img src="../images/prd-img_a7dfa5b5-cb09-433a-aac2-1b795d521ed1.webp" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Chesterfield closet</strong></h5>
                            <br>
                            <button style="background-color:  #F8DAA0; height: 20px; width: 20px;"></button> &nbsp;
                            <button style="background-color: #36454F ; height: 20px; width: 20px;"></button>

                            <p><s>$3,000.00</s> &nbsp;$1,500.00</p>

                             <button class="add_btn">Add TO Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid py-5" style="background-color: #FFF3E4;">

        <div class="sec-t1">

            <h3><b>Experts Care For Your Home</b></h3>

        </div>
        <br>
        <div class="container">
            <div class="row  text-left g-3">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="border-color:#DFF4FF;">
                        <img class="img-fluid" src="../images/decoz-15-1638951602842.avif" alt="">
                        <div class="card-body">
                            <h4 style="font-family: Quicksand; font-weight: bold;">Stay safe and healthy</h4>
                            <p style="font-family: Quicksand;">Only choose safe materials for your babies’ sensitive
                                skin. Not all materials are alike. Find out which one will be the most suitable with
                                these quick tips.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="border-color:#DFF4FF;">
                        <img src="../images/decoz-16-1638951602845.avif" alt="">
                        <div class="card-body">
                            <h4 style="font-family: Quicksand; font-weight: bold;">Reduce, reuse, and recycle!</h4>
                            <p style="font-family: Quicksand;">As a friend of the environment, we don’t just simply
                                throw out the old furniture and get the new one. Let’s see how we can make it better
                                together.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="border-color:#DFF4FF;">
                        <img src="../images/decoz-17-1638951602848.avif" alt="">
                        <div class="card-body">
                            <h4 style="font-family: Quicksand; font-weight: bold;">Bring your living room to the New
                            </h4>
                            <p style="font-family: Quicksand;">Tone up the room and express who you are with the soft
                                light color of this spring season. Wooden furniture will be the first choice for the
                                cozy feeling</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 sec-t2">

                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container text-center">

                                <p>Not really sure if the product meets my needs at first, but after seeing this brand’s
                                    bedroom in my
                                    friend’s house, I have no other doubts and need to buy myself one at once. Cannot
                                    deny this comfy!
                                </p>
                                <br>

                                <p><i>Emma S</i></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container text-center">

                                <p>Great service and quick delivery! Got my table just after 3 days of order, and the
                                    sustainability is a plus point. What a highlight for my dining room</p>
                                <br>

                                <p><i>Jack F</i></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container text-center">

                                <p>Not really sure if the product meets my needs at first, but after seeing this brand’s
                                    bedroom in my friend’s house, I have no other doubts and need to buy myself one at
                                    once. Cannot deny this comfy!/p>
                                    <br>

                                <p><i>Jenny P</i></p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../images/decoz181638951602853-1642567467271.webp" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #666666;">
        <div class="container">
            <div class="row sec-t3  text-left">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text py-5 text-white">
                        <h3 class="sec-t4">subscribe for exclusive updates</h3>
                        <p>Get early access, special offers, and the latest releases. Join now and elevate your hoodie
                            game!</p>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="row justify-content-center pt-5">
                        <div class="col-8">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg" placeholder="Enter your Email">
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="button" class="submit_btn">SUBMIT</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-vpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>